body{
    background-color: rgb(105, 9, 196);
    color: black;
    .bai-jamjuree-extralight {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 200;
  font-style: normal;
}
  display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button {
    background-color: #ca5b01;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}
.passo {
    display: none;
}
main {
   max-width: 90%;
   text-align: center
}
img{
  max-width: 90%;
  }